<h1>Index Home</h1>

<h2>Menu</h2>
<ul>
	<li>Bancos</li>
	<li>Tipo de Tarjeta</li>
	<li><a href="/myMovsDisplay/Tarjeta/">Tarjetas</a></li>
	<li><a href="/transactions/">Transacciones</a></li>
	<li><a href="/transactions/SeleccionarTarjeta/">Cargar Movimientos desde CSV (Working on, add list of files to upload for that card)
	</a></li>
	<li><a href="/graphics/">Grafica de movimientos</li>
</ul>

<h3>Tarjetas</h3>

{% if Tarjeta %}
    <ul>
    {% for tarjeta in Tarjeta %}
        <li>{{ tarjeta.id }} Saldo: 0</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay Tarjetas.</p>
{% endif %}

<h3>Ultimas Transacciones</h3>

{% if Transacciones %}
    <ul>
    {% for transaccion in Transacciones %}
        <li><a href="/transactions/{{ transaccion.id }}/">{{ transaccion.fecha }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay Transacciones.</p>
{% endif %}