<h3>Transacciones</h3>
<p>Try to label them, using the words to get topic/brand/place 
Use Cluster model with Cosine distance to get similars and then use mutual information metric. </p>
{% if object_list %}
	<table style="width=80%">
		<tr>
			<th>Fecha</th>
			<th>Descripcion</th>
			<th>Cargo</th>
			<th>Abono</th>
			<th>NumTarjeta</th>
		</tr>
		{% for transaccion in object_list %}
		<tr>			
			<td>{{ transaccion.fecha }}</td>
			<td><a href="/myMovsDisplay/{{ transaccion.id }}/">{{ transaccion.descripcion }}</a></td>
			<td>{{ transaccion.cargo }}</td>
			<td>{{ transaccion.abono }}</td>
			<td><a href="/myMovsDisplay/Tarjeta/{{ transaccion.NumTarjeta.pk }}/">{{ transaccion.NumTarjeta }}</a></td>
		</tr>
		{% endfor %}
	</table>	
{% else %}
    <p>No hay Transacciones.</p>
{% endif %}

<p><a href="/myMovsDisplay/" >Regresar a Index</a></p>